<h2>Add a question to the quiz!</h2>


<%= form_for :user, :url => addquestion_path do |f| %>

	<div>
		<%= f.label :question %>
		<%= f.text_field :question %>
	</div>

	<div>
		<%= radio_button_tag(:value, "true") %>
		<%= label_tag(:value, "True") %>
		<%= radio_button_tag(:value, "false") %>
		<%= label_tag(:value, "False") %>
	</div>

	<div>
		<%= f.submit "Submit" %>
	</div>

<% end %>

</div>