<h2>Question</h2><p> <%= @show_question.id %></p>

<p><%= @show_question.text %></p>

<%= form_for @answer do |f| %>
	<%= f.hidden_field :question_id %>
	<%= f.hidden_field :user_id %>
	<div> 
		<%= f.radio_button :value, "true" %>
		<%= f.label "true" %>
		<%= f.radio_button :value, "false" %>
		<%= f.label "false" %>
	</div>

	<div>
		<%= f.submit "Submit" %>
	</div>

<% end %>